<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
</head>

<body>
    <div >

        <form method = "post" action = "/logar" >
            <input type="text" name = "email_login" placeholder="Email" required/>
            <input type="password" name = "senha_login" placeholder="Senha" required/>
            <button>login</button>

        </form>
    </div>
</body>

</html>
